@media only screen and (max-width: $md2) {
	.menu__list-item{
		margin-left: 50px;
	}
}
@media only screen and (max-width: $md3) {
	.menu__list-item{
		margin-left: 38px;
	}
	.main-block{
		margin-bottom:59px;
	}
	.shots{

		&__gallery-item{
			
			&:last-child{
				display:none;
			}
		}
	}
}
@media only screen and (max-width: $md4) {
	body.lock{
		overflow: hidden;
	}
	.shots{
		&__wrapper{
			margin: 0 0 35px 0;
		}
	}
	.page{
		padding-top: 80px;
	}
	.header__body{
		justify-content: flex-end;
		align-items: flex-end;
		height: 40px;
	}
	.menu {
		position: fixed;
		top: -100%;
		right: 0;
		width: 182px;
		height: auto;
		overflow: auto;
		transition: all 0.3s linear;
		background-color: #F5F5F5;
		margin: 63px 15px 0 0;
			&__list-item {
				margin: 0 !important;
				padding: 10px 0 10px 12px;
				transition: background-color 0.3s linear;
				&:hover{
					background-color: #E5E5E5;
					cursor: pointer;
					& a {
						color:#57A4A4;
					}
				}
			}
	}
	.menu.active {
		top: 0;
	}
	.menu__list{
		display: block;
	}
	.header__burger{
		display: block;
		position: relative;
		width: 44px;
		height: 40px;
		background-color: #000;
		transition: all 0.3s linear;
		z-index: 3;
			& span{
				position: absolute;
				background-color: #fff;
				width: 17px;
				height: 2px;
				left: 50%;
				transform: translate(-50%);
				transition: all 0.3s linear;
			}
			&::before{
				top: 14px;
			}
			&::after{
				bottom: 12px;
			}
	}
	.header__burger:after,
	.header__burger:before{
		content: "";
		position: absolute;
		background-color: #fff;
		width: 17px;
		height: 2px;
		left: 50%;
		transition: all 0.3s linear;
		transform: translate(-50%);
	}
	.header__burger.active::before{
		transform:rotate(45deg);
		top: 20px;
		left: 14px;
	}
	.header__burger.active::after{
		transform:rotate(-45deg);
		bottom: 18px;
		left: 14px;
	}
	.header__burger.active span{
		transform: scale(0);
	}
}
@media only screen and (max-width: $md5) {
	body{
		font-size: 14px;
	}
	.posts{
		margin-bottom: 0;
	}
	.reviews{
		&__item{
			flex-direction: column;
			&:last-child{
				display: none;
			}
		}
		&__box-text{
			display: none;
		}
		&__img{
			margin: 0 0 11px 0;
		}
	}
	.main-block{
		margin-bottom:42px;
	}
	.shots{
		background-color: #fff;
		&__gallery-item{
			
			display: none;
			&:first-child{
				display: block;
			}
		}
		&__wrapper{
			margin: 0 0 13px 0;
		}
		&__link{
			display: none;
		}
	}
	.footer{
		&__text {
			font-size: 12px ;
		}
	}
	
}
@media only screen and (max-width: $md6) {
	body, body > *{
		width: auto;
		min-width: 320px;
	}
}