@mixin flexColumn{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
@mixin flexCenter{
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin flexSB{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin burgerAfter{
	content: "";
	top: 0;
	right: 0;
	position: absolute;
	z-index: 2;
}
@mixin burgerBefore{
	content: "";
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 2;
}