//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1200px; // можно выбрать свои параметры 
$md1: $maxWidthContainer;
$md2: 836.98px;
$md3: 768.98px;
$md4: 680.98px;
$md5: 480.98px;
$md6: 320.98px;

$mainColor: #4E4E4E;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Roboto', sans-serif;
$fontSize: 16px;
//</Шрифт по умолчанию>==========================================================================================
