//< ОБЩИЕ ПАРАМЕТРЫ >===============================================================================================
body {
	color: $mainColor;
	font-family: $fontFamily;
	font-size: $fontSize;
}
//< ОБЩИЕ ПАРАМЕТРЫ >===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $maxWidthContainer;
	padding: 0 15px;
   margin: 0 auto;
   width: 100%;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

/*--------------------------------------------------------------------------------------------------*/
.page {
	flex: 1 1 auto;
	padding-top:100px;
}
.title {
	font-weight: bold;
	line-height: 22px;
	text-transform: uppercase;
}
.container-smaller {
	max-width: 714px;
	padding: 0 15px;
   margin: 0 auto;
   width: 100%;
}
/*--------------------------------------------------------------------------------------------------*/
.main-block {
margin-bottom: 69px;
	&__img {
		display:block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.posts {
margin: 0 0 60px 0;
	&__title {
		margin: 0 0 30px 0;
	}
}
.reviews {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(445px, 1fr));
gap: 32px 55px;
	&__item {
		display: flex;
		max-width: 555px;
	}

	&__img {
		width: 160px;
		height: 140px;
		object-fit: cover;
		display: block;
		margin-right: 19px;
	}

	&__box {

	}

	&__box-title {
		font-weight: bold;
		line-height: 30px;
	}

	&__box-subtitle {
		font-size: 12px;
		line-height: 20px;
		margin: 0 0 10px 0;
			a {
				color: #7C7C7C;
				transition: color 0.2s linear;
				&:hover{
					color: #57A4A4;
				}
			}
			& span{
				padding: 0 6px;
			}
	}

	&__box-text {
		font-size: 14px;
		line-height: 26px;
		color: #5C5C5C;
	}
}

.shots {
padding: 47px 0 49px 0;
background-color: #F7F7F7;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		margin: 0 0 24px 0;
	}

	&__title {
	}

	&__link {
		color:#4E4E4E;
		font-size: 13px;
		transition: color 0.3s linear;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 22px;
			&:hover{
				color: #57A4A4;
			}
	}

	&__gallery {
		display: flex;
		gap: 10px;
	}

	&__gallery-item {
		flex: 1 1 285px;
		& img {
			display:block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			
		}
	}
}

