.footer {
	padding: 57px 0;
	background-color: #000;
	text-align: center;
	color:#B9B9B9;
		&__title {
			color: #fff;
			margin: 0 0 22px 0;
		}
	
		&__text {
			line-height: 28px;
			margin: 0 0 37px 0;
		}
	}
	
	
	.social {
	display: inline-flex;
	gap: 6px;
	margin: 0 0 34px 0;
		&__item {
		}
	
		&__contacts {
			display:flex;
			justify-content: center;
			flex-wrap: wrap;
			
			& span {
				padding: 0 10px;
			}
			& a {
				display: block;
				margin: 0 0 15px 0;
				color: inherit;
			}
		}
	
		&__info-addresses {
		
		}
	
		&__info-tel {
		}
	
		&__info-mail {
		}
	}
	