.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 23px;
	z-index: 5;
		&::before{
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: #fff;
			z-index: 2;
		}
		&__body{
			@include flexCenter;
			height: 55px;
			position: relative;
		}
		&__burger {
			display: none;
		}
}

.menu {

		&__list {
			@include flexSB;
			position: relative;
			z-index: 2;
		}

		&__list-item {
			font-size: 11px;
			line-height: 22px;
			letter-spacing: 1.1px;
			text-transform: uppercase;
			margin: 0 0 0 68px;
			&:first-child{
				margin: 0;
			}
			& a {
				transition: color 0.2s linear;
				color: inherit;
				padding: 5px 0;
				&:hover{
					color: #57A4A4;
				}
			}
		}
		&__list-item--active {
			color: #57A4A4;
			& a {
				color: inherit;
			}
		}
}
